[Unit]
Description=Garage S3-compatible Object Storage
Documentation=https://garagehq.deuxfleurs.fr/documentation/
After=network-online.target
Wants=network-online.target

[Service]
User={{ garage.operator.user }}
Group={{ garage.operator.group }}

Environment="GARAGE_CONFIG_FILE={{ garage.config_dir }}/garage.toml"
ExecStart={{ install_dir }}/garage server

Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
