(common) {
    cache
    errors
    loop
    health :1053
}

{% set gw = cluster_hosts | selectattr('name', 'equalto', 'br-gateway1') | first %}
{{ host_domain }}:53 {
    bind {{ gw.ip }}
    hosts {
{% for host in cluster_hosts %}
        {{ host.ip }}     {{ host.domains.server }}
{% endfor %}
        fallthrough
    }
    import common
}

{{ service_domain }}:53 {
    bind {{ gw.ip }}
    hosts {
{% for record in service_records %}
        {{ (cluster_hosts | selectattr('name', 'equalto', record.host) | first).ip }}     {{ record.name }}.{{ service_domain }}
{% endfor %}
        fallthrough
    }
    import common
}

{{ service_domain }}:53 {
    bind {{ wan_ip }}
    hosts {
{% for domain in wan_exposed_domains %}
        {{ wan_ip }}     {{ domain }}
{% endfor %}
        fallthrough
    }
    import common
}

.:53 {
    bind {{ gw.ip }} {{ wan_ip }}
    forward . {% for fwd in dns.forwarders %}{{ fwd }}:53 {% endfor %}

    import common
}
